.home{
        position: absolute;
        margin-top:0%;
        height: 100vh;
        width: 100vw;
        background: linear-gradient(
            to right, 
            #ffffff 0%, 
            #ffffff 50%, 
            #000000 50%, 
            #000000 100vh 100vw
            );
    }
.header-text{
    position: absolute;
    /* margin-top: 0%;  */
    top: 10;
    display: flex;
    font-family: Alike, serif;
    font-style: italic;
    text-align: center;
    font-size: 7.5vw;
    word-spacing: 2px;
}
#zone{
    color: #ffffff;
}
.halfStyle {
    position: relative;
    display: inline-block;
    color: #ffffff;
    overflow: hidden;
    white-space: pre;
    right: .35%;
}

.halfStyle:before {
    display: block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    content: attr(data-content);
    overflow: hidden;
    color:  #000000 ;
}
.ul{
    display: flex;
    margin-top: 2.5%;
}
.Login{
    margin-left: 55vw;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: white;
    transition: 1s;
    background: black;
    border: none;
    justify-content: center;
    outline: none;
    font-family: 'Righteous', cursive;
    font-size: 20px;

}
.Register{
    display: flex;
    margin-left: 22.5vw;
    text-align: center;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    color:white;
    background: black;
    justify-content: center;
    transition: 1s;
    border:none;
    outline: none;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}
.Register:hover{
    
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
                0 0 20px rgba(255, 255, 255, 1),
                0 0 50px rgba(255, 255, 255, 1),
                0 0 0 75px rgba(255, 255, 255, 0.05),
                0 0 0 60px rgba(255, 255, 255, 0.05),
                0 0 0 45px rgba(255, 255, 255, 0.05),
                0 0 0 30px rgba(255, 255, 255, 0.05),
                0 0 0 15px rgba(255, 255, 255, 0.05);
}
.Login:hover{
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
                0 0 20px rgba(255, 255, 255, 1),
                0 0 50px rgba(255, 255, 255, 1),
                0 0 0 75px rgba(255, 255, 255, 0.05),
                0 0 0 60px rgba(255, 255, 255, 0.05),
                0 0 0 45px rgba(255, 255, 255, 0.05),
                0 0 0 30px rgba(255, 255, 255, 0.05),
                0 0 0 15px rgba(255, 255, 255, 0.05);
}
.login-field{
    
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-items: space-between;
    top: 8.5vh;
    left: 32.25vw;
    height: 5vh;
    width: 5vh;
}
.UsernameField{
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
		outline: none;
}
.UsernameField:focus{
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-bottom: 3px solid #000000
}
.PasswordField{
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
		outline: none;
}
.PasswordField:focus{
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-bottom: 3px solid #000000
}
.hidden-field{
    display: flex;
    margin-left: 5vw;
}
.submit{
    position: absolute;
    margin-left: 66.5vw;
    top: 5%;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    color:white;
    background: black;
    justify-content: center;
    transition: 1s;
    border:none;
    outline: none;
    font-family: 'Righteous', cursive;
    font-size: 20px;
}
.submit:hover{
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
                0 0 20px rgba(255, 255, 255, 1),
                0 0 50px rgba(255, 255, 255, 1),
                0 0 0 75px rgba(255, 255, 255, 0.05),
                0 0 0 60px rgba(255, 255, 255, 0.05),
                0 0 0 45px rgba(255, 255, 255, 0.05),
                0 0 0 30px rgba(255, 255, 255, 0.05),
                0 0 0 15px rgba(255, 255, 255, 0.05);
}
.register-dropdown{
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-items: space-between;
    top: 8.5vh;
    left: 5.75vw;
    height: 5vh;
    width: 5vh;
    border: none;
    outline: none;
}
.first-name{
        border: none;
        border-bottom: 1px solid rgb(0, 0, 0);
        outline: none;
}
.last-name{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}
.email{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
}
.first-name:focus{
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-bottom: 3px solid #000000;
}
.last-name:focus{
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-bottom: 3px solid #000000;
}
.email:focus{
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border-bottom: 3px solid #000000;
}






@media screen
and (min-width: 375px) 
and (max-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 
    .ul{
        margin-left: -62%;
    }
    .header-text{
        font-size: 8vw;
        color: black;
        top: 35%;
    }
    #zone{
        color: black;
    }
    .halfStyle{
        color: black
    }
    .home{
        background: white;
    }
    .Login:hover{
        box-shadow: 0 0 10px rgb(0, 0, 0),
                    0 0 20px rgb(0, 0, 0),
                    0 0 50px rgb(0, 0, 0),
                    0 0 0 75px rgba(255, 255, 255, 0.05),
                    0 0 0 60px rgba(255, 255, 255, 0.05),
                    0 0 0 45px rgba(255, 255, 255, 0.05),
                    0 0 0 30px rgba(255, 255, 255, 0.05),
                    0 0 0 15px rgba(255, 255, 255, 0.05);
    }
    .Register:hover{
        box-shadow: 0 0 10px rgba(255, 255, 255, 1),
                    0 0 20px rgba(255, 255, 255, 1),
                    0 0 50px rgba(255, 255, 255, 1),
                    0 0 0 75px rgba(255, 255, 255, 0.05),
                    0 0 0 60px rgba(255, 255, 255, 0.05),
                    0 0 0 45px rgba(255, 255, 255, 0.05),
                    0 0 0 30px rgba(255, 255, 255, 0.05),
                    0 0 0 15px rgba(255, 255, 255, 0.05);
    }
    .submit:hover{
        box-shadow: 0 0 10px rgba(255, 255, 255, 1),
                    0 0 20px rgba(255, 255, 255, 1),
                    0 0 50px rgba(255, 255, 255, 1),
                    0 0 0 75px rgba(255, 255, 255, 0.05),
                    0 0 0 60px rgba(255, 255, 255, 0.05),
                    0 0 0 45px rgba(255, 255, 255, 0.05),
                    0 0 0 30px rgba(255, 255, 255, 0.05),
                    0 0 0 15px rgba(255, 255, 255, 0.05);
    }
    .login-field{
        top: 20%;
    }
    .register-dropdown{
        position: absolute;
        box-sizing: border-box;
        display: flex;
        justify-items: space-between;
        top: 25vh;
        left: 0%;
        height: 5vh;
        width: 5vh;
        border: none;
        outline: none;
    }
    .submit{
        margin-left: 30vw;
    }
    .Register{
        /* margin-left: %; */
    }
}